#informationMessage { position: absolute; z-index: 1050; }

.btn-show_image, .btn-show_image:hover { text-decoration: none; }

#show_image .modal-body img { margin: 0 auto; }

#main-content .loading { display: none; position: relative; margin-top: 100px; padding: 0 10px; }
#main-content .loading .progress { height: 20px; border-radius: 0; }

a.powerbrands { background: url("../../img/main.logo.png"); background-repeat: no-repeat; background-position: center; background-size: 100%; vertical-align: middle; display: inline-block; margin-left: 10px; width: 150px; height: 40px; }

a.boycot { background: url("../../img/logo_boycot.png"); background-repeat: no-repeat; background-position: center; background-size: cover; vertical-align: middle; display: inline-block; width: 55px; height: 23px; }
