div#info-box p, div#info-box span {
	/*text-align: justify;*/
	font-family: ""OswaldLight", sans-serif";
	font-size: 16px;
}

div#info-box h1,h2,h3 {
	/*text-align: justify;*/
	font-family: ""OswaldLight", sans-serif";
	font-size: 20px;
}

div#info-box h4,h5,h6 {
	/*text-align: justify;*/
	font-family: ""OswaldLight", sans-serif";
	font-size: 18px;
}

a.especial, a.especial > img {
	margin-top: 3em;
	width: 65%;
	height: auto;
}
.caca{
    display: inline-block;
    width: 49%;
    vertical-align: middle;
}
.caca > img{
    width: 100%;
    height: auto;
}