html { position: relative; min-height: 100%; }

.container-fluid { min-width: 1170px; }

@font-face { font-family: "OswaldLight"; src: url("../fonts/OswaldLight.eot"); src: url("../fonts/OswaldLight.eot") format("embedded-opentype"), url("../fonts/OswaldLight.woff2") format("woff2"), url("../fonts/OswaldLight.woff") format("woff"), url("../fonts/OswaldLight.ttf") format("truetype"), url("../fonts/OswaldLight.svg#OswaldLight") format("svg"); }
body { margin-right: 15px; }
body p { font-family: "OswaldLight", sans-serif; }
body .container { min-width: 1170px; }

#menu ul.menu { color: white; margin-bottom: -1px; padding-left: 0; vertical-align: middle; margin-left: 26px;   margin-top: 62px; width: 690px}
#menu ul.menu li {
    list-style: outside none none;
    margin-left: 17px;
    text-align: center;
    font-family: "OswaldLight",sans-serif;
    opacity: 0.5;
    font-size: 17px;
    float: left; }
#menu ul.menu li a { color: #fff; text-decoration: none; text-transform: uppercase; }
#menu ul.menu li a:hover { border-bottom: 5px solid white; text-transform: uppercase; opacity: 1; transition: all 0.8s ease 0s; }
#menu ul.menu li.active { border-bottom: 5px solid white; text-transform: uppercase; opacity: 1; }
#menu .lenguajes {display: flex;display: -webkit-inline-box;display: -moz-box;float: right; width: 100px; margin-bottom: -35px;list-style: none; margin-right: 20px;}
#menu .lenguajes li a { padding: 1px; text-align: center; text-decoration: none; display: block; background: #d9d9d9; color: #fd7500; cursor: pointer; opacity: 0.7; }
#menu .lenguajes li a:hover { background: #fff; opacity: 1; color: #fd7500; }
#menu .lenguajes li a.active { background: #fff; opacity: 1; color: #fd7500; }
#menu .menu_fondo { vertical-align: middle; border-radius: 0; height: 90px; background: white; background: -moz-linear-gradient(left, white 0%, white 24%, #fd7600 24%, #fd7600 100%); background: -webkit-gradient(left top, right top, color-stop(0%, white), color-stop(24%, white), color-stop(24%, #fd7600), color-stop(100%, #fd7600)); background: -webkit-linear-gradient(left, white 0%, white 24%, #fd7600 24%, #fd7600 100%); background: -o-linear-gradient(left, white 0%, white 24%, #fd7600 24%, #fd7600 100%); background: -ms-linear-gradient(left, white 0%, white 24%, #fd7600 24%, #fd7600 100%); background: linear-gradient(to right, white 0%, white 24%, #fd7600 24%, #fd7600 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fd7600', GradientType=1 ); }
#menu .logo_fondo { background-color: #fff; }
#menu .logo { background-image: url("../img/logo.png"); height: 90px; background-repeat: no-repeat; background-position: center center; }

.logos { display: inline-block; float: right; margin-top: 20px; margin-right: 10px; }

#footer { height: 80px; background-color: #d9d9d9; position: absolute; width: 100%; bottom: 0; min-width: 1170px; }
#footer .info { line-height: 6px; font-size: 11px; color: #131313; padding-top: 15px; padding-left: 20px; }
#footer .container { margin: 0 auto; }

#home .slider { background: url("../img/slider/banner.jpg"); height: 240px; width: 100%; background-size: cover; }
#home .box-1 { padding: 20px; background-color: #939393; height: 257px; color: white; font-size: 14px; }
#home h1 { font-size: 20px; font-family: "OswaldLight", sans-serif; margin-top: 0; margin-bottom: 10px; }
#home h2 { font-size: 19px; font-family: "OswaldLight", sans-serif; height: 40px; border-bottom: 2px solid #dbdbdb; margin-bottom: 20px; color: #616161; }
#home .box-2 { font-size: 16px; color: #8b8b8b; margin-left: 29px; margin-right: 25px; text-align: justify; }
#home .box-3 { font-size: 16px; color: #8b8b8b; text-align: justify; }
#home .btn-info { text-align: center; font-size: 12px; margin: 0 auto; margin-top: 30px; text-transform: uppercase; }
#home .btn-info a { text-align: center; font-size: 12px; color: white !important; text-transform: uppercase; text-decoration: none !important; padding: 7px; display: block; }
#home .btn-info2 { text-align: center; font-size: 12px; margin: 0 auto; outline: none; margin-top: 15px; text-transform: uppercase; }
#home .btn-info2 a { text-align: center; font-size: 12px; color: white !important; text-transform: uppercase; text-decoration: none !important; padding: 7px; display: block; }

.btn-info { background-color: #fd7500; width: 175px; }

.btn-info2 { background-color: #fd7500; width: 175px; }

.flex-col { padding-left: 0px; padding-right: 0; }

.carousel-control.left { position: absolute; width: 151px; height: 29px; font-size: 20px; color: #fff; text-align: center; filter: alpha(opacity=50); opacity: 1; padding-top: 10px; text-shadow: none !important; }

.carousel-control.right { position: absolute; width: 151px; height: 29px; font-size: 20px; color: #fff; text-align: center; filter: alpha(opacity=50); opacity: 1; text-shadow: none !important; }

.text-slide { font-size: 36px; color: white; line-height: 29px; vertical-align: middle; width: 550px; display: table-cell; height: 240px; padding-left: 20px; font-weight: bold; }

#equipo .scrollbar1 { float: left; overflow: hidden; margin-bottom: 10px; font-family: "OswaldLight", sans-serif;width: 100%; }
#equipo .scrollbar2 { float: left; overflow: hidden; }
#equipo #style-1 { /*height: 150px; */ margin: 0px 50px;}
#equipo #style-1 .mCSB_draggerRail { background: transparent !important; }
#equipo #style-1 [id*=dragger_vertical] { background: #fff !important; border-radius: 10px; opacity: 1; }
#equipo #style-2 { width: 764px; height: 228px; }
#equipo #style-2 .mCSB_draggerRail { background: transparent !important; }
#equipo #style-2 .mCSB_dragger_bar { background: transparent !important; }
#equipo #style-2 .mCSB_scrollTools .mCSB_draggerContainer { top: 5px; }
#equipo #style-2 [id*=dragger_horizontal] { background: #fd7500 !important; border-radius: 10px; }
#equipo .box-1-equipo { color: #8b8b8b; padding-top: 8px; font-size: 12px; line-height: 14px; text-align: justify; margin-left: 35px; }
#equipo .slider { background: url("../img/slider/banner4.jpg"); height: 160px; background-size: cover; }
#equipo .box-1 { display:inline-block; background-color: #fd7500; color: white; font-size: 12px; width: 100%;}
#equipo .cont { max-height: 159px; padding-right: 19px; text-align: justify; overflow: hidden; overflow-y: scroll; margin-bottom: 7px; }
#equipo h1 { font-size: 20px; font-family: "OswaldLight", sans-serif; margin-top: 0; margin-bottom: 10px; }
#equipo .btn-info2 { font-size: 12px; margin: 0 auto; background: white; width: 90px; height: 35px; float: right; text-transform: uppercase; margin: 0px 10px 10px 0;}
#equipo .btn-info2 a { text-align: center; font-size: 12px; color: #fd7500 !important; text-transform: uppercase; text-decoration: none !important; display: block; }
#equipo .btn-info3 { text-align: center; font-size: 12px; background: white; width: 90px; height: 35px; text-transform: uppercase; }
#equipo .tab-content { /*width: 350px;*/ }
#equipo .box-2 { overflow: hidden; height: 231px; width: 764px; }
#equipo .box-2 img { display: table-cell; padding-right: 5px; -webkit-filter: grayscale(1); opacity: 0.7; transition: all 0.5s ease 0s; }
#equipo .box-2 img:hover { -webkit-filter: grayscale(0); opacity: 1; }
#equipo .box-2 img.active { -webkit-filter: grayscale(0); opacity: 1; }

.SelectStyle { width: 158px; height: 40px; font-size: 15px; font-weight: 100; cursor: pointer; font-family: "OswaldLight", sans-serif; color: white; border: 0; outline: none !important; background-image: url("../img/select.png"); background-color: #fd7500; -webkit-appearance: none; background-position: center right 11px; padding: 11px; background-repeat: no-repeat; border-radius: 0; }

#estudio .colm-items:hover { background: #d9d9d9; }
#estudio .box-2 { font-size: 13px; color: #8b8b8b; margin-left: 21px; margin-right: 3px; text-align: justify; }
#estudio .slider { background: url("../img/slider/banner1.jpg"); height: 160px; width: 100%; background-size: cover; }
#estudio h2 { font-size: 19px; font-family: "OswaldLight", sans-serif; height: 31px; border-bottom: 2px solid #dbdbdb; color: #616161; }
#estudio h2 { font-size: 19px; font-family: "OswaldLight", sans-serif; height: 29px; border-bottom: 2px solid #dbdbdb; margin-bottom: 4px; color: #616161; }
#estudio h5 { font-size: 19px; font-family: "OswaldLight", sans-serif; margin-left: 20px; padding: 10px; padding-top: 4px; height: 25px; background: #939393; color: #fff; }
#estudio h5 p { margin-left: 20px; }
#estudio h4 { font-size: 20px; margin-left: 20px; font-family: "OswaldLight", sans-serif; color: #616161; }
#estudio ul { padding: 0; }
#estudio ul li { list-style: none; text-align: left; font-family: "OswaldLight", sans-serif; opacity: 0.5; font-size: 17px; line-height: 19px; margin-left: 20px; }

#practica .caja { height: 550px; }
#practica .slider { background: url("../img/slider/banner3.jpg"); height: 160px; width: 100%; background-size: cover; }
#practica .box-1 { padding: 20px; background-color: #939393; height: 257px; color: white; font-size: 14px; text-align: justify; }
#practica .box-2 { font-size: 13px; color: #8b8b8b; margin-left: 21px; margin-right: 3px; text-align: justify; }
#practica h1 { font-size: 20px; font-family: "OswaldLight", sans-serif; margin-top: 0; margin-bottom: 10px; }
#practica h2 { font-size: 19px; font-family: "OswaldLight", sans-serif; border-bottom: 2px solid #dbdbdb; margin-bottom: 8px; padding-bottom: 10px; color: #616161; }

#novedades .btn-info2 { text-align: center; margin-top: 8px; line-height: 22px; float: right; height: 22px; background: #fd7500; width: 61px; text-transform: uppercase; }
#novedades .btn-info2 a { font-size: 10px; color: #FFF !important; text-transform: uppercase; text-decoration: none !important; display: block; }
#novedades .btn-info2:hover { background: #616161; }
#novedades .noticia-foto { height: 354px; border-bottom: 5px solid #CFCFCF; padding: 10px; margin-top: 10px; }
#novedades .slider { background: url("../img/slider/banner5.jpg"); height: 160px; width: 100%; background-size: cover; }
#novedades .foto_noticia { background-color: #0E766D; height: 124px; width: 100%; }
#novedades .box-2-text { font-size: 13px; height: 70px; color: #8b8b8b; line-height: 16px; max-height: 60px; overflow: hidden; text-align: justify; }
#novedades h2 { font-size: 18px; font-family: "OswaldLight", sans-serif; border-bottom: 2px solid #dbdbdb; margin-bottom: 12px; text-overflow: ellipsis; max-height: 39px; margin-top: 14px; height: 40px; overflow: hidden; color: #616161; }
#novedades .noticia { margin-top: 12px; height: 305px; width: 341px; padding: 10px; margin-right: 7px; margin-left: 7px; float: left; border-bottom: 5px solid #d9d9d9; }
#novedades .noticia:hover { background-color: #FAFAFA; border-bottom: 5px solid #fd7500; }

#contacto form.formulario { margin-top: 32px; border-left: 5px solid #d9d9d9; padding-left: 50px; }
#contacto form.formulario .form-group { margin-bottom: 6px; }
#contacto input.casilla { width: 270px; font-family: "OswaldLight", sans-serif; margin-left: 14px; border: 1px solid #fd7500; padding: 4px; }
#contacto textarea.area { margin: -2px; width: 270px; font-family: "OswaldLight", sans-serif; margin-left: 14px; border: 1px solid #fd7500; padding: 10px; }
#contacto label.titulo_box { color: #939393; font-family: "OswaldLight", sans-serif; width: 40px; text-transform: uppercase; }
#contacto button.boton { background: #fd7500; color: #ffffff; border: 0; padding: 5px; height: 33px; float: right; text-transform: uppercase; margin-right: 59px; width: 79px; }
#contacto button:hover { background: #CE6000; }
#contacto .mapa { height: 240px; width: 100%; background-size: cover; }
#contacto h2 { font-size: 25px; font-family: "OswaldLight", sans-serif; height: 36px; border-bottom: 2px solid #dbdbdb; text-transform: uppercase; color: #616161; margin-bottom: 22px; }
#contacto .box-1 { height: 223px; background-image: url("../img/slider/oficina3.jpg"); color: white; font-size: 14px; text-align: justify; margin: 18px; background-position: top center; background-repeat: no-repeat; background-size: cover; width: 244px; }
#contacto .box-2 { line-height: 17px; margin-left: 20px; color: #8b8b8b; width: 345px; margin-top: 36px; }

#interior .btn-info2 { text-align: center; margin-top: 8px; line-height: 22px; float: right; height: 22px; background: #fd7500; width: 61px; text-transform: uppercase; }
#interior .btn-info2 a { font-size: 10px; color: #FFF !important; text-transform: uppercase; text-decoration: none !important; display: block; }
#interior .slider { background: url("../img/slider/banner5.jpg"); height: 240px; width: 100%; background-size: cover; }
#interior .noticia-foto { height: 218px; width: 318px; margin: 20px; cursor: none; }
#interior .box-2-text { font-size: 13px; color: #8b8b8b; line-height: 16px; overflow: hidden; text-align: justify; }
#interior h2 { font-size: 18px; font-family: "OswaldLight", sans-serif; height: 48px; border-bottom: 2px solid #dbdbdb; margin-bottom: 8px; color: #616161; }

#redes .slider {
    background: url('/img/slider/banner0.jpg');
    height: 160px;
    width: 100%;
    background-size: cover;
}

#redes p {
    font-size: 13px;
    color: #8b8b8b;
    margin-left: 21px;
    margin-right: 3px;
    text-align: justify;
}

.loaded {
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
}
.loaded img {
	width: 1px;
	height: 1px;
}
.preload {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1999;
	background: #ffffff;
}
.loading {
	display: none;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5px;
  width: 200px;
  background: #fff;
  border: 1px solid #29d;

  overflow: hidden;
}

.pace .pace-progress {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  max-width: 200px;
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: #29d;
}

.pace.pace-inactive {
  display: none;
}

/*# sourceMappingURL=main.css.map */
