<?php $this -> append("novedades"); echo "active"; $this -> end(); ?>
<div id="novedades">
    <div class="row" style="  margin-right: -30px;">
        <!--Termina carousel en parte superior de body-->
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Membresías</h2>
                </div>
                <div class="col-xs-3">
                    <?=$this -> Html ->image("footer/auscham.png", array("class" => "img_equipo col-xs-6 inner-photo-box",'style'=>'width: 100%;height:100px;'));?>
                </div>
                <div class="col-xs-3">
                    <?=$this -> Html ->image("footer/camchal.png", array("class" => "img_equipo col-xs-6 inner-photo-box",'style'=>'width: 100%;height:100px;'));?>
                </div>
                <div class="col-xs-3">
                    <?=$this -> Html ->image("footer/ccbc2.jpeg", array("class" => "img_equipo col-xs-6 inner-photo-box",'style'=>'width: 100%;height:100px;'));?>
                </div> 
                <div class="col-xs-3">
                    <?=$this -> Html ->image("footer/icc.jpg", array("class" => "img_equipo col-xs-6 inner-photo-box",'style'=>'width: 100%;height:100px;'));?>
                </div>                                                
            </div>
        </div>
    </div>
</div>